* {
  margin: 0 2px;
  padding: 0;
}

* h1 {
  font-size: 2em;
  font-weight: 800;
}

* h2,
* h3,
* h4 {
  font-size: 1.5em;
}

.navbar-brand {
  cursor: pointer;
  margin-left: 10px;
}

.navbar-brand h2 {
  color: #1212b8;
}

#navbarNav {
  margin-right: 40px;
  font-weight: bold;
}

nav li {
  padding: 10px;
}

a {
  color: black;
}

.highlight {
  color: #1212b8;
}

.hero,
.doubts,
.live-classes,
.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9em;
}

.jee,
.neet {
  margin: 70px 0;
}

.jee .right-text .pair .text,
.neet .right-text .pair .text {
  text-align: center;
}

.left,
.right-text {
  text-align: center;
}

.left h1,
.right-text h1 {
  font-size: 2em;
  padding-bottom: 20px;
}

.right img,
.left-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 60%;
  max-width: 400px;
  max-height: 100px;
  margin: 10px 0;
  border: none;
  -webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.1);
          box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.1);
}

.card-container .card img {
  display: block;
  width: 40%;
  min-width: 80px;
  max-width: 130px;
}

.card-container .card .text {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

.card-container .card p {
  margin: 0;
}

.card-container .vertical-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  margin: 10px 0;
  width: 170px;
  min-height: 122px;
  max-height: 122px;
  background: white;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.1);
          box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.1);
  margin: 10px;
}

.card-container .vertical-card img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 90px;
}

.card-container .vertical-card .text {
  text-align: center;
  margin: 0;
}

.subjects {
  text-align: center;
}

.books-container {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.books-container .vertical-card {
  display: block;
  margin: 10px auto;
  padding-top: 10px;
}

.subj-ver {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.subj-ver .vertical-card {
  display: block;
  margin: 10px auto;
}

.pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pair .text {
  margin-left: 20px;
  text-align: left;
}

.how-it-works {
  margin: 70px 0;
  text-align: center;
}

.how-it-works .steps {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.how-it-works .steps .vertical-pair {
  margin: 0 20px;
}

.how-it-works .steps .vertical-pair img {
  width: 150px;
  border-radius: 150px;
  border: 1px solid gray;
}

.center-btn {
  text-align: center;
}

.expert-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.expert img {
  width: 100px;
  border-radius: 150px;
  margin-right: 20px;
}

.expert .text {
  font-size: 1em;
  padding: 5px;
  max-height: 100px;
  max-width: 210px;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.3);
          box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.3);
}

.shape-container {
  display: none;
}

.testimonial {
  margin-top: 50px;
}

.card:hover,
.vertical-card:hover {
  -webkit-box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.4);
          box-shadow: 0px 2px 6px 0px rgba(50, 50, 50, 0.4);
  cursor: pointer;
}

@media only screen and (min-width: 750px) {
  * h2,
  * h3 {
    font-size: 2rem;
  }
  body {
    padding: 0 5px;
  }
  .navbar-brand {
    margin-left: 50px;
  }
  .hero,
  .doubts,
  .live-classes,
  .testimonial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .jee .right-text .pair .text,
  .neet .right-text .pair .text {
    text-align: left;
  }
  .left,
  .right-text {
    width: 50%;
    margin: 0 40px;
    text-align: center;
  }
  .left h1,
  .right-text h1 {
    font-size: 2.5rem;
  }
  .right,
  .left-img {
    width: 60%;
  }
  .right img,
  .left-img img {
    padding: 50px 0;
    min-width: 300px;
    max-width: 600px;
  }
  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px;
  }
  .card-container .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50%;
    max-width: 300px;
    margin: 10px;
  }
  .card-container .card img {
    width: 40%;
    min-width: 80px;
    max-width: 130px;
  }
  .card-container .card .text {
    overflow: hidden;
    padding: 10px;
    text-align: center;
  }
  .card-container .vertical-card {
    width: 150px;
    margin: 10px;
  }
  .card-container .vertical-card img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .doubts .left {
    text-align: left;
  }
  .how-it-works .steps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .books-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .books-container .vertical-card {
    display: block;
    margin: 10px auto;
  }
  .books-container .row3 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
  }
  .expert-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 50px 0;
  }
  .expert-container .expert {
    margin: 0 auto;
  }
  .expert-container .expert img {
    width: 150px;
  }
  .shape-container {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
  }
  .shape {
    position: relative;
    top: 50px;
    right: 0;
    z-index: -1;
    opacity: 0.8;
  }
  .shape-right {
    float: right;
    left: 0;
    right: 0;
  }
  .shape-l {
    width: 700px;
  }
  .shape-s {
    width: 500px;
  }
}

footer {
  text-align: center;
  background: #f7f7f7;
}

@media only screen and (min-width: 1170px) {
  .books-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .books-container .vertical-card {
    width: 200px;
    display: block;
    margin: 10px auto;
  }
  .books-container .row3 {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 5;
  }
  .expert-container .expert {
    margin: 0 80px;
  }
  .right,
  .left-img {
    max-width: 1000px;
    width: 1000px;
  }
}
/*# sourceMappingURL=main.css.map */